.header{
    background-color: #c8bca9;
}

#buscarBoton{
    background-color: #1F5D42;
    
    
}





.main{
    background-color: #efece5;
}

#nuevoSorteo{
    background-color: #C94A4A;
}

.panel-title{
    color:#1F5D42;
}

#continuarPanel{
    background-color: #1f5d42;
}





.footer{
    background-color: #1f5d42;
}
